# Byte-compiled / Python files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Configuración local
*.log

# Archivos de descarga temporal de FFmpeg
backend/core/ffmpeg-download.7z
chromedriver.log

# FFmpeg completo (binarios y carpetas)
backend/core/ffmpeg/

# PyCharm / IDEs
.idea/
*.iml
.vscode/
ffmpeg/
chromedriver.log

# PyInstaller output
dist/
build/
*.spec

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de historial o caché
historial.json
*.sqlite
